main {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

main section {
    text-align: left;
    width: 70%;
    margin: 20px auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

main section h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

main section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

main section p {
    font-size: 1.2em;
    line-height: 1.6;
}