body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

header {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

header .logo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .logo img {
    width: 15%;
}

.autent a {
    width: 10%;
    float: right;
}

.prijava {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
}

.prijava h4 {
    margin-right: 2%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin: 0 2%;
}

header nav ul a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
    margin: 50px auto 0 auto;
    background-color: rgb(226, 226, 226);
    padding: 35px 0;
    margin-bottom: -20px;
    text-align: center;
}

footer hr {
    width: 50%;
    color: gray;
}

footer span {
    color: gray;
}

a {
    text-decoration: none;
    color: black;
}

.clear {
    float: none;
    clear: both;
}

.maxWidth {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}